#header {
    display: flex;
    height: 100px;;
}

#site_title {
    background: yellow;
    flex-grow: 1;
}

nav {
    flex: 1;
    background: turquoise;
    display: flex;
    justify-content: space-between;
}

