#container {
    display: flex;
    flex-direction: row;
    border: 2px solid red;
    color: royalblue;
    justify-content: center;
}
#container * {
    flex-grow: 1;
}

#container  > * {
    margin: 20px;
}
form > * {
    margin: 10px;
}

#countDown {
    border: 2px solid yellow;
    display: flex;
}