.bulb {
    display: inline-block;
    width: 20px;
    height: 20px;
    background-color: yellowgreen;
    margin: 20px;
}
.active {
    background: red;
}

button{
  padding: 5px 20px;
}

div {
    box-sizing: border-box;
  }
  div#bulbs {
    position: absolute;
    left: 50%;
    top: 50%;
  }
  #win {
    margin: 20px;
    color: red;
    font-size: 24px;
    text-align: center;

  }