.bulb {
    display: inline-block;
    width: 20px;
    height: 20px;
    background-color: yellowgreen;
    margin: 20px;
}
.active {
    background: red;
    color: seagreen;
    transform: scale(1.5)
}

button{
  padding: 5px 20px;
}
.bulb.active {
  background-color: yellow;
  transform: scale(2.5);
}
.bulb.chosen {
  background: red;
}

  #win {
    margin: 20px;
    color: red;
    font-size: 24px;
    text-align: center;
  }

  #bulbs {
    top: 200px;
    left: 500px;
    position: relative;
}

  .bulb {
    position: absolute;
    height: 20px;
    width: 20px;
    background-color: green;
    margin: 5px;
    display: inline-block;
    border-radius: 10px;
    -webkit-transition: background-color 0.1s ease-out;
    -moz-transition: background-color 0.1s ease-out;
    -o-transition: background-color 0.1s ease-out;
    transition: background-color 0.1s ease-out;
}

  